* {
  font-family: 'IM Fell Great Primer SC', serif;
}

body {
  height: 100vh;
}

header {
  background: url("imgs/charlotte-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 40rem;
  margin-top: 5rem;
}

@media (max-width: 48rem) {
  header {
    background-position: 35% 0%;
  }
}

footer {
  background-color: #041c2c;
  color: white;
  padding: 6rem;
}

footer div:nth-child(1) {
  margin-bottom: 6rem;
}

/************************* CLASS SELECTORS *************************/

.navbar-nav {
  background: whitesmoke;
}

@media (max-width: 48rem ) {
  .navbar-nav {
    display: none;
  }
}

.main-rows {
  margin: 2rem 0;
}

.card-body__sub-category {
  font-size: 0.80rem;
}

.card-text {
  font-size: 0.75rem;
}

.card-body p:nth-of-type(2){
  font-weight: 900;
}

.footer-flex-divs{

}

.footer-nav {
  list-style-type: none;
}
/************************* ID SELECTORS *************************/
#main-container {
  margin-top: 12rem;
  width: 100%;
  margin-top: 3rem
}

@media (min-width: 35rem) {
  #main-container {
    margin-top: 6rem;
  }
}

/* #whats-on {
  margin-bottom: 3rem;
} */

#covid-19 {
  background: red;
  margin: auto 0;
}

#covid-19 p {
  margin: auto 0;
}

#header_title {
  /* background: #7395AE; */
  flex-basis: 100%;
  text-align: center;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  background-color: #041c2c;
}

@media (min-width: 37.5rem){
  #header_title {
    flex-direction: row;
  }

  #login {
      margin-left: auto; 
  }
}

.header_title-links{
  color: white;
}

#header_title-header {
  margin: auto;
  flex-grow: 3;
  text-decoration: none;
}

#login {
  font-size: 1rem; 
  margin-right: 1.5rem; 
  align-self: center; 
  flex-shrink: 3;
}

#events-listing {
  display: flex; 
  flex-shrink: 3; 
}

#events-listing  {
  font-size: 1rem; 
  margin-right: 1.75rem; 
  margin-left: 1rem; 
  align-self: center;
}

#footer-header {
  font-size: 1.5rem;
}
